**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

build.xml
manifest.mf
build-impl.xml
genfiles.properties
project.properties
project.xml
bin/
*.class
ant.properties
*.apk
gen/
local.properties
proguard.cfg
